@use '@cloudscape-design/design-tokens' as awsui;

.header {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  // Add padding so underline is shown on bottom line of text
  padding-bottom: 2px;
  text-overflow: ellipsis;
}
.thumbnailWrapper {
  padding: awsui.$space-scaled-s;
  display: flex;
  gap: awsui.$space-scaled-s;
  flex-wrap: nowrap;
}
.avatar {
  border-radius: 35px;
}