@use '@cloudscape-design/design-tokens' as awsui;

.playerWrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.controlsPositioner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 awsui.$space-scaled-s;
  background-color: awsui.$color-background-button-normal-hover;
  overflow: hidden;
  border-radius: awsui.$border-radius-button;
  border: 1px solid awsui.$color-border-divider-default;
  text-align: center;
}
.controlsContainer {
  display: flex;
  align-items: center;
}
.icon {
  padding: awsui.$space-scaled-xs awsui.$space-scaled-s;
  color: awsui.$color-text-body-secondary;
  transition: color 150ms;
  &:hover {
    color: awsui.$color-text-interactive-hover;
  }
}