.playerWrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.overlayWrapper {
  display: flex;
  justify-content: center;
}
.overlay {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
  border-radius: 500px;
  overflow: hidden;
  z-index: 200;
  background: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(20px) saturate(115%);
  transition: opacity 250ms;
}