@import '@cloudscape-design/design-tokens';

.customHeader {
  background-color: $color-background-home-header;
}
.title {
  color: $color-text-home-header-default;
  * {
    max-width: 700px;
  }
}
.subtitle {
  color: $color-text-home-header-secondary;
}
.cta {
  // Give space between CTA and rest of page
  margin-bottom: 38px;
}
.sidebar {
  // Pull up sidebar below CTA
  margin-top: -86px;
}
