@use '@cloudscape-design/design-tokens' as awsui;

.username {
  color: awsui.$color-text-status-inactive;
  font-size: 13px;
  padding-right: awsui.$space-scaled-xxs;
}
.message {
  font-size: 13px;
}
.messageWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: awsui.$space-scaled-m;
  padding: awsui.$space-scaled-xxs 0;
}
.messagesContainer {
  border-top: 1px solid awsui.$color-border-divider-default;
  height: 300px;
  padding: awsui.$space-scaled-xxs awsui.$space-scaled-l awsui.$space-scaled-l;
}
.chatHeader {
  padding: awsui.$space-scaled-s awsui.$space-scaled-l;
}
.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: awsui.$space-scaled-l 0;
}
.empty {
  font-weight: bold;
  color: awsui.$color-text-empty;
}