@use '@cloudscape-design/design-tokens' as awsui;

.username {
  color: awsui.$color-text-status-inactive;
  font-size: 13px;
  padding-right: awsui.$space-scaled-xxs;
}
.message {
  font-size: 13px;
}
.messageWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: awsui.$space-scaled-s;
  padding-top: awsui.$space-scaled-s;
}
.messagesContainer {
  border-top: 1px solid awsui.$color-border-divider-default;
  padding: awsui.$space-scaled-xxs awsui.$space-scaled-l awsui.$space-scaled-l;
}