body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  background-color: #776;
  color: rgba(255, 255, 255, 0.87);
}
h1, h2, h3, h4, h5 {
  margin-block: 0;
  margin-inline: 0;
  font-weight: 600;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}